

@media (max-width: 415px) and (max-height: 737px) {
  .container_header, .project_hero {
    height: 100vh;
  }  
}

@media (min-width: 416px) {
  
  /* HEADER */

  .container_header::before {
    background-position: bottom;
  }

  /* SKILLS */

  .skills_logo ul {
    justify-content: flex-start;
  }

  .skills_logo img {
    margin-right: 1em;
    opacity: 1;
  }

  /* PROJECT */

  .project_hero::before {
    background-position: bottom;
  }


}


@media (min-width: 767px) {
  
  /* HEADER */

  .container_header, .project_hero {
    height: 60vh;
  }

  .inner_header {
    text-align: center;
  }

  .inner_header h1, .inner_project h1 {
    font-size: 2.2em;
  }

  .inner_header h3, .inner_project h3 {
    font-size: 1.3em;
  }

  /* ABOUT */

  .grid_about {
		display: grid;
		grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 960px;
  }
  
  .inner_intro, .inner_skills {
    margin: 0;
    padding: 10vh 30px 10vh 60px;
  }

  .inner_skills {
    background: none;
    color: #453e3e;
  }

  .inner_intro {}

  .dev_skills {
    padding-bottom: 0.5em;
  }

  /* FORM */


  /* PROJECT */

  .inner_project, .inner_project_list {
    text-align: center;
  }

  .project_list {
    margin-bottom: 0;
  }

  .project_list_item {
    display: inline-block;
    margin: 0 1em;
  }

  .project_detail_image {
    max-width: 75%;
  }
  


}



@media (min-width: 991px) {}

@media (min-width: 1199px) {}